################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfChat
*.cache
*.targets
*.dll
*.txt
/.vs/NedoGram/v16/.suo
